/* CUSTOM THEME */

html {
    --lumo-font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

[theme~="dark"] {
    --lumo-base-color: hsl(240, 9%, 13%);
    --lumo-shade-5pct: rgba(0, 0, 0, 0.05);
    --lumo-shade-10pct: rgba(0, 0, 0, 0.1);
    --lumo-shade-20pct: rgba(0, 0, 0, 0.2);
    --lumo-shade-30pct: rgba(0, 0, 0, 0.3);
    --lumo-shade-40pct: rgba(0, 0, 0, 0.4);
    --lumo-shade-50pct: rgba(0, 0, 0, 0.5);
    --lumo-shade-60pct: rgba(0, 0, 0, 0.6);
    --lumo-shade-70pct: rgba(0, 0, 0, 0.7);
    --lumo-shade-80pct: rgba(0, 0, 0, 0.8);
    --lumo-shade-90pct: rgba(0, 0, 0, 0.9);
    --lumo-shade: hsl(214, 0%, 0%);
    --lumo-primary-text-color: rgb(36, 108, 224);
    --lumo-primary-color-50pct: rgba(36, 108, 224, 0.5);
    --lumo-primary-color-10pct: rgba(36, 108, 224, 0.1);
    --lumo-primary-color: hsl(217, 75%, 51%);
    --lumo-error-text-color: hsl(356, 70%, 51%);
    --lumo-error-color-50pct: rgba(218, 43, 54, 0.5);
    --lumo-error-color-10pct: rgba(218, 43, 54, 0.1);
    --lumo-error-color: hsl(356, 70%, 51%);
    --lumo-tint-5pct: rgba(237, 237, 237, 0.05);
    --lumo-tint-10pct: rgba(237, 237, 237, 0.1);
    --lumo-tint-20pct: rgba(237, 237, 237, 0.2);
    --lumo-tint-30pct: rgba(237, 237, 237, 0.3);
    --lumo-tint-40pct: rgba(237, 237, 237, 0.4);
    --lumo-tint-50pct: rgba(237, 237, 237, 0.5);
    --lumo-tint-60pct: rgba(237, 237, 237, 0.6);
    --lumo-tint-70pct: rgba(237, 237, 237, 0.7);
    --lumo-tint-80pct: rgba(237, 237, 237, 0.8);
    --lumo-tint-90pct: rgba(237, 237, 237, 0.9);
    --lumo-tint: hsl(214, 0%, 93%);
    --lumo-primary-contrast-color: #fcfcfc;
    --lumo-success-text-color: hsl(144, 82%, 47%);
    --lumo-success-color-50pct: rgba(22, 218, 100, 0.5);
    --lumo-success-color-10pct: rgba(22, 218, 100, 0.1);
    --lumo-success-color: hsl(144, 82%, 47%);
}

/* LAYOUT EDITS */

a[highlight] {
    color: white;
    background: var(--lumo-primary-color-50pct);
}

a[highlight]:hover {
    text-decoration: none;
    cursor: initial;
}

.header {
    padding: 0 var(--lumo-space-m);
}

.ver-lay-draw {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.ver-lay-draw a {
    width: calc(100% - 20px);
    padding: 10px 0 10px 20px;
    margin: 0;
    font-weight: bold;
}

.ver-lay-draw a:hover:not([highlight]) {
    background: var(--lumo-tint-30pct);
    color: white;
}

.logo {
    margin-top: 0.75em;
    font-size: 2em;
}

.draw-toggle {
    min-width: 0;
}

.draw-toggle:hover {
    cursor: pointer;
}

/* COMPONENT EDITS */

.article-view .content, .query-view .content {
    display: flex;
}

.article-view .article-grid, .query-view .article-grid{
    flex: 2;
}

.article-view .article-display, .query-view .article-display {
    flex: 1;
    padding: var(--lumo-space-m);
    padding-right: 0;
    min-width: 600px;
}

@media all and (max-width: 960px) {
    .article-view.display .article-grid, .query-view.display .main {
        display: none;
    }

    .article-view .article-display, .query-view .article-display {
        padding-right: var(--lumo-space-m);
        min-width: 0px;
    }
}

.article-paragraph {
    padding-top: 16px;
    margin: 0;
    text-indent: 25px;
}

.paragraph-layout {
    padding-top: 0;
    overflow-y: auto;
}

.article-h1, .article-link {
    align-self: center;
    text-align: center;
}

.article-display-close {
    min-height: 36px;
    max-height: 36px;
}

.info-block-bar {
    width: 100px;
}

.info-block-text {
    white-space: nowrap;
}

.info-block {
    align-content: center;
    align-items: center;
}

.outcome-count {
    color: white;
}